@import url("/css/clash-display.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    background: #d1d5db;
    color: #111518;
    font-family: ClashDisplay-Variable, sans-serif;
    font-size: 18px;
    overflow-x: hidden;
  }
}

.gradient {
  background-image: radial-gradient(
    631.82% 109.9% at 50% 0%,
    rgba(17, 21, 24, 1) 0%,
    rgba(42, 43, 45, 1) 1%,
    rgba(75, 85, 99, 1) 17%,
    rgba(209, 213, 219, 1) 54%
  );
}
